# <font color='red'> *실습* </font> 
# <font color='red'> LISTS </font>

# <font color='blue'> 1. 아래 이름들을, names 리스트로 만드세요.
    
    "sara", "chanel", "mike", "ryan", "holy", "alex", "rob"

In [10]:
names=['sara','chanel','mike','ryan','holy','alex','rob']

In [ ]:
names=['sara','chanel','mike','ryan','holy','alex','rob']

# <font color='blue'> 2. 각 이름의 맨 앞자를 대문자로 바꿔서, names 리스트를 다시 만드세요.

In [11]:
names=['Sara','Chanel','Mike','Ryan','Holy','Alex','Rob']

In [1]:
names.upper()#upper는 문자열에서 .찍고 쓴다 리스트에서는 문자열이 되도록 열을 분리해서 쓴다.

NameError: name 'names' is not defined

In [12]:
names

['Sara', 'Chanel', 'Mike', 'Ryan', 'Holy', 'Alex', 'Rob']

In [55]:
names[0]=names[0].title()
names[1]=names[1].title()
names[2]=names[2].title()
[names[0].title(),names[1].title,names[2].title]

['Sara', <function str.title()>, <function str.title()>]

In [46]:
names[1].title()

'CHANEL'

In [51]:
names[2].title()

'MIKE'

In [52]:
[names[0].uuper(),names[1].upper,names[2].upper]

AttributeError: 'str' object has no attribute 'uuper'

# <font color='blue'> 3. (1)두번째 항목 출력, (2) 마지막 항목을 출력 </font>

In [13]:
names=['sara','chanel','mike','ryan','holy','alex','rob']

In [14]:
names[1]

'chanel'

In [15]:
names=['Sara','Chanel','Mike','Ryan','Holy','Alex','Rob']

In [16]:
names[6]

'Rob'

# <font color='blue'> 4. "Chanel" "Mitch" "Ryan" 항목 출력, </font>

In [17]:
names=['Sara','Chanel','Mike','Ryan','Holy','Alex','Rob']

In [20]:
names[1]

'Chanel'

In [22]:
names[2]

'Mike'

In [23]:
names[3]

'Ryan'

# <font color='blue'> 5. 리스트 맨 마지막 3개 항목을 출력하기</font>

In [32]:
names[4:7]

['Holy', 'Alex', 'Rob']

# <font color='blue'> 6. 다음을 출력 (1) aly, (2) sally (3) peter, aly </font>

In [34]:
my_list = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]

In [35]:
my_list[3]

'aly'

In [37]:
my_list[1][1]

'sally'

In [39]:
my_list[2:4]#[-2:]

['peter', 'aly']

# <font color='blue'> 7. 현재 리스트의 길이를 먼저 구하고, 자신의 이름을 맨 끝에 추가하세요. </font>

In [3]:
my_list = ["Mitch", ["sara", "sally", "joe"], "peter", "aly"]

In [4]:
len(my_list)

4

In [5]:
my_list.insert(1,'윤수정')

In [6]:
my_list.append('윤수정')

In [7]:
my_list

['Mitch', '윤수정', ['sara', 'sally', 'joe'], 'peter', 'aly', '윤수정']

# <font color='blue'> 8. "PETER" 를 리스트에서 제거하세요. </font>

In [56]:
my_list.remove('peter')

In [10]:
my_list

['Mitch', ['sara', 'sally', 'joe'], 'peter', 'aly', '윤수정']

In [11]:
my_list.remove('윤수정')

In [12]:
my_list

['Mitch', ['sara', 'sally', 'joe'], 'peter', 'aly']

# <font color='blue'> 9. "Mitch" 오른쪽에 "Mike"를 추가하세요. </font>

In [60]:
my_list.insert(1,'Mike')

In [61]:
my_list

['Mitch', 'Mike', ['sara', 'sally', 'joe'], 'aly', '윤수정']

# <font color='blue'> 10. 오름차순으로 순서대로 정렬하세요. </font>

In [63]:
my_list = [50, 20, 30, 10, 40, 15, 45]

In [64]:
sorted(my_list)

[10, 15, 20, 30, 40, 45, 50]

# <font color='blue'> 11. 위 리스트를 내림차순으로 정렬하세요. </font>

In [66]:
sorted(my_list, reverse=True)

[50, 45, 40, 30, 20, 15, 10]

# <font color='blue'> 12. 리스트 안에, 리스트들이 들어 있습니다. 안쪽 리스트들의 맨 마지막 항목들만 뽑아서, 새로운 리스트를 만드세요. </font> 
- chocolate, potatoes, protein bar 를 뽑아내는 코드를 작성하고, 이들을 리스트로 만듭니다.

In [91]:
grocery_list = [['chips','jelly','chocolate'],['sweet potatoes','potatoes'],['peanuts','protein bar']]

In [92]:
grocery_list[0]=grocery_list[0][2]

In [93]:
grocery_list[1]=grocery_list[1][1]

In [95]:
grocery_list[2]=grocery_list[2][1]

In [97]:
grocery_list=[grocery_list[0],grocery_list[1],grocery_list[2]]

In [98]:
grocery_list

['chocolate', 'potatoes', 'protein bar']

# <font color='blue'> 13. 다음 문장을, 공백기준으로 잘라서, 리스트로 만드세요. 그리고 to 라는 단어가 몇개 인지 확인하세요. </font> 
- 예)   [ 'She', 'had', 'a', 'lot',,,,]
- 문자열 부분에서 배운 함수를 참고하세요

In [118]:
essay = '''"She had a lot of money. She was a generous woman. She was once poor. She understood what it was like. She wanted to help out. On Christmas day, she handed out food to the poor. She made the food herself. She put a turkey leg, a scoop of mash potatoes, and peas on a plate. She gave the plate to each homeless person she saw.

The homeless people loved her. One homeless man even gave her a penny. She said to keep it for himself. She decided to do more. She gave $50 to every homeless person she saw. She felt good."'''

In [119]:
essay

'"She had a lot of money. She was a generous woman. She was once poor. She understood what it was like. She wanted to help out. On Christmas day, she handed out food to the poor. She made the food herself. She put a turkey leg, a scoop of mash potatoes, and peas on a plate. She gave the plate to each homeless person she saw.\n\nThe homeless people loved her. One homeless man even gave her a penny. She said to keep it for himself. She decided to do more. She gave $50 to every homeless person she saw. She felt good."'

In [120]:
essay=essay.strip('"')

In [114]:
print (essay)

['"She', 'had', 'a', 'lot', 'of', 'money.', 'She', 'was', 'a', 'generous', 'woman.', 'She', 'was', 'once', 'poor.', 'She', 'understood', 'what', 'it', 'was', 'like.', 'She', 'wanted', 'to', 'help', 'out.', 'On', 'Christmas', 'day,', 'she', 'handed', 'out', 'food', 'to', 'the', 'poor.', 'She', 'made', 'the', 'food', 'herself.', 'She', 'put', 'a', 'turkey', 'leg,', 'a', 'scoop', 'of', 'mash', 'potatoes,', 'and', 'peas', 'on', 'a', 'plate.', 'She', 'gave', 'the', 'plate', 'to', 'each', 'homeless', 'person', 'she', 'saw.', 'The', 'homeless', 'people', 'loved', 'her.', 'One', 'homeless', 'man', 'even', 'gave', 'her', 'a', 'penny.', 'She', 'said', 'to', 'keep', 'it', 'for', 'himself.', 'She', 'decided', 'to', 'do', 'more.', 'She', 'gave', '$50', 'to', 'every', 'homeless', 'person', 'she', 'saw.', 'She', 'felt', 'good."']

In [121]:
essay.lower()

'she had a lot of money. she was a generous woman. she was once poor. she understood what it was like. she wanted to help out. on christmas day, she handed out food to the poor. she made the food herself. she put a turkey leg, a scoop of mash potatoes, and peas on a plate. she gave the plate to each homeless person she saw.\n\nthe homeless people loved her. one homeless man even gave her a penny. she said to keep it for himself. she decided to do more. she gave $50 to every homeless person she saw. she felt good.'

In [122]:
print(essay)

She had a lot of money. She was a generous woman. She was once poor. She understood what it was like. She wanted to help out. On Christmas day, she handed out food to the poor. She made the food herself. She put a turkey leg, a scoop of mash potatoes, and peas on a plate. She gave the plate to each homeless person she saw.

The homeless people loved her. One homeless man even gave her a penny. She said to keep it for himself. She decided to do more. She gave $50 to every homeless person she saw. She felt good.

In [125]:
word_list=essay.split()

In [126]:
word_list

['She',
 'had',
 'a',
 'lot',
 'of',
 'money.',
 'She',
 'was',
 'a',
 'generous',
 'woman.',
 'She',
 'was',
 'once',
 'poor.',
 'She',
 'understood',
 'what',
 'it',
 'was',
 'like.',
 'She',
 'wanted',
 'to',
 'help',
 'out.',
 'On',
 'Christmas',
 'day,',
 'she',
 'handed',
 'out',
 'food',
 'to',
 'the',
 'poor.',
 'She',
 'made',
 'the',
 'food',
 'herself.',
 'She',
 'put',
 'a',
 'turkey',
 'leg,',
 'a',
 'scoop',
 'of',
 'mash',
 'potatoes,',
 'and',
 'peas',
 'on',
 'a',
 'plate.',
 'She',
 'gave',
 'the',
 'plate',
 'to',
 'each',
 'homeless',
 'person',
 'she',
 'saw.',
 'The',
 'homeless',
 'people',
 'loved',
 'her.',
 'One',
 'homeless',
 'man',
 'even',
 'gave',
 'her',
 'a',
 'penny.',
 'She',
 'said',
 'to',
 'keep',
 'it',
 'for',
 'himself.',
 'She',
 'decided',
 'to',
 'do',
 'more.',
 'She',
 'gave',
 '$50',
 'to',
 'every',
 'homeless',
 'person',
 'she',
 'saw.',
 'She',
 'felt',
 'good.']

In [127]:
word_list.count('to')

6

In [128]:
print(essay)

She had a lot of money. She was a generous woman. She was once poor. She understood what it was like. She wanted to help out. On Christmas day, she handed out food to the poor. She made the food herself. She put a turkey leg, a scoop of mash potatoes, and peas on a plate. She gave the plate to each homeless person she saw.

The homeless people loved her. One homeless man even gave her a penny. She said to keep it for himself. She decided to do more. She gave $50 to every homeless person she saw. She felt good.

In [130]:
essay.count('to')

8